/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all 0s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active for <2.1.8 */
{
    transform: translateX(10px);
    opacity: 0;
}

.pad-5 {
    padding: 5px;
}

.marg-5 {
    margin: 5px;
}

.marg-10 {
    margin: 10px;
}

/*OVerride for sidebar active link*/
.sidebar .nav li > a.active {
    color: #FFFFFF;
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
}

.filter-control {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    color: #565656;
    padding: 8px 12px;
    height: 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-width: 30%;
    width: 200px;
    display: -webkit-inline-box;
}

.fakeLink {
    color: #1DC7EA;
    /*text-decoration: underline;*/
    cursor: pointer;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-5%, 0, 0);
        transform: translate3d(-5%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.animated {
    animation-duration: 0.5s;
}

/*Notifications*/
.alert-success {
    background-color: #02895e;
}

.alert-info {
    background-color: #292929;
}

.redText {
    color: #ff2a48;
}

.jconfirm-box {
    min-width: 350px;
}

/*///FIELDS*/
.react-date-field__input[disabled] {
    background-color: #cdcdcd;
}

.react-date-field [disabled] {
    background-color: #cdcdcd;
}

.chkbox {
    cursor: pointer;
}

textarea {
    width: 500px;
    /*height: 150px;*/
}

/*----Miigrated from old client*/

/*//Filepreview v2*/
.filePreview .fileImage {
    width: 100%;
    max-width: 300px;
}

.wrapText {
    word-wrap: break-word;
}

.pad-5 {
    padding: 5px;
}

.bold {
    font-weight: 400;
}

.list {
    max-width: 100px;
}

.single {
    font-size: 20px;
}

.jollofMap {
    height: 450px;
    width: 100%;
}

.full-width {
    width: 100%;
    /*margin: 5px 0px;*/
}

.textbox {
    font-size: 16px;
    padding: 10px;
}

.tpad-10 {
    margin-top: 10px;
}

label.label {
    display: block;
    color: #999999;
    font-size: 10px;
    line-height: 0.9;
}

.mce-notification {
    display: none !important;
}

.CodeMirror {
    height: 120px !important;
}

.sidebar {
    background: linear-gradient(
            rgba(50, 50, 50, 0.80),
            rgba(50, 50, 50, 0.80)
    ), url(/jollofstatic/img/jollof2.jpg) center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
