.file-preview{
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
    margin:7px;
}

.filePreview .image {
    width: 100px;
    height: 100px;
}


.fileInput{
    cursor: pointer;
}

.clickable{
    cursor: pointer;
}

.fill{
    width: 100%;
    height: 100%;
}

